.line-1 {
  font-size: 34px;
  font-weight: bold;
  color: #fffcfc;
  letter-spacing: 3px;
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.line-2 {
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line-3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #999;
}