@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8);
  font-family: serif;
}



@layer components {
  .btn {
    @apply w-[250px] block mx-auto my-[15px] px-4 py-2 text-center text-white bg-gray-800 border-2 border-black rounded-[25px] text-[20px] font-medium transition duration-300 hover:text-gray-800 hover:bg-white hover:border-gray-800;
  }
}